<div style="text-align:center">
  
  
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text" required class="form-control" [(ngModel)]="ProductID"  placeholder="Enter name"  >
    </div>
    <div class="form-group">
      <label for="userName">qty</label>
      <input type="text" required class="form-control" ng-name="ProductName" placeholder="Enter qty">
    </div>
  
    <button type="button" (click)="add();" class="btn btn-primary">Add Product</button>
    <button type="button" (click)="list();" class="btn btn-primary">List Product</button>
  
  </div>