<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <form (ngSubmit)="updateProductid(registerForm.value)" #registerForm="ngForm">

      
      <div class="form-group">
          <label for="userName">pid</label>
          
          <input type="text" required class="form-control"   (input)="pid = $event.target.value"  name="pid"  value="{{pid}}" [(ngModel)]=pid>
        </div>
    <div class="form-group">
      <label for="userName">Name</label>
      
      <input type="text" required class="form-control"  (input)="productname = $event.target.value" value="{{productname}}" name="productname" placeholder="Enter name" [(ngModel)]=productname>
    </div>
    <div class="form-group">
      <label for="userName">qty</label>
      <input type="text" required class="form-control"  (input)="qty = $event.target.value" value="{{qty}}" name="qty" placeholder="Enter qty"  [(ngModel)]=qty>
    </div>
  
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>
  </div>